# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\20404(20)\Dev\devspring\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
